<%= form_tag do %>
<h3> Add New Fridge </h3> 
<br />
  <input placeholder="Fridge Location" />
  <br />
  <input placeholder="Brand" />
  <br />
  <input placeholder="Size in Cubic Ft." />
  <br />
  <button method="POST"> Save New Fridge </button>
<% end %>
<br />
<a href="/fridge"><button> Fridges Home </button></a>